{
	"presets": ["env", "react"],
	"plugins": [
		"transform-object-rest-spread",
		"transform-decorators-legacy",
		"transform-runtime",
		[
			"file-loader", {
				"publicPath": "/img",
				"outputPath": "/dist/img"
			}
		]
	]
}
